<!DOCTYPE html>
<html>
<head>
  <title>Sample Blog Application using Rails 4.1beta1 and Ruby 2.1 </title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
